
//ABOUT SECTION STYLES
.about {
   background: $yellow;
   @media only screen and (max-width: 500px) { 
         height: 140vh;
      }
}

.about{
   &__content{
      background: $white;
      border-radius: 10px 10px 10px 10px;
      display: flex;
      justify-content: space-evenly;
      // align-items: center;
      height: 110vh;
      @media only screen and (max-width: 1000px) { 
         flex-direction: column-reverse;
         align-items: center;
         justify-content: center;
      }
      @media only screen and (max-width: 500px) { 
         height: 130vh;
      }
   }

   // TEXT DIV STYLES
   &__text {
      width: 55%;
      padding: 40px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      // align-items: center;
      text-align: right;
      @media only screen and (max-width: 1000px) { 
         width: 80%;
         text-align: left;
         padding: 0 0 40px 0;
      }
      @media only screen and (max-width: 768px) { 
         // text-align: center;
         width: 90%;
      }
   
      p {
         padding-left: 100px;
         margin: 0;
         @media only screen and (max-width: 1200px) { 
            padding-left: 50px;
         }
         @media only screen and (max-width: 1000px) {
            padding: 0;
            text-align: left;
         }
         @media only screen and (max-width: 380px) { 
            font-size: 1.6rem;
         }
      }

      .linkp {
         padding-top: 15px;
         a {
            color: $black;
            letter-spacing: 1.5px;
            transition: color .3s;
            text-decoration: underline;
            &:hover {
               color: $yellow;
            }
         }
      }
      &--heading {
         font-size: 2.5rem;
         font-family: $font2;
      }
   }

   .skillContainer {
      padding-top: 50px;
      width: 80%;
      height: 75px;
      align-self: flex-end;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      @media only screen and (max-width: 1000px) {
         justify-content: center;
         align-self: center;
      }
      @media only screen and (max-width: 768px) { 
         width: 90%;
         padding-top: 6vh;
      }

      ul {
         display: flex;
         @media only screen and (max-width: 600px) { 
            flex-wrap: wrap;
            justify-content: center;
            align-content: center
         }
      }
      li {
         margin-left: 20px;
         @media only screen and (max-width: 768px) { 
            margin-left: 5px;
         }
      }
   }

   // IMAGE DIV STYLES
   &__image {
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media only screen and (max-width: 1200px) { 
         // width: 40%;
      }
      img {
         width: 70%;
         box-shadow: 15px 15px 0 #666666;
         user-select: none;
        
         @media only screen and (max-width: 1200px) { 
            width: 80%;
         }
         @media only screen and (max-width: 1000px) { 
            width: 65%;
         }
         @media only screen and (max-width: 600px) { 
            width: 75%;
            box-shadow: 7px 7px 0 #666666;
         }
      }
   }
}
  
