//HEADER STYLES
header {
   background: $yellow;
   display: flex;
   align-items: flex-start;
   height: 100vh;
   overflow: hidden;
}

//MOBILE HEADER
.mobileHeader {
   display: none;
   @media only screen and (max-width: 500px) { 
      display: block;
      position: absolute;
      bottom: 10px;
      left: 20%;
      // font-family: $font2;
   }
}

// GLOBAL CUBE STYLES
.cube__gallery {
   width: 100%;
   // margin-top: 50vh;
   margin: 50vh 45vw 0 45vw;
   position: relative;
}

.cube {
   position: absolute;
}
.cube5, .cube3, .cube4, .cube2, .cube1 {
   transition: transform 1s linear;
   transform: translate(101px, 57px);
   &:hover {
      transform: translate(27px, 100px);
   }

}

// INDIVIDUAL CUBE STYLES
.cube1 {
   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 90px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 90px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}

.cube2 {
   bottom: 64px;
   margin-left: -111px;

   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 90px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 90px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
      p {
         text-align: center;
         font-size: 2rem;
      }
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}

.cube3 {
   bottom: 90px;
   z-index: 6;
   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 90px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 90px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}

.cube5 {
   bottom: 180px;
   z-index: 6;
   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 90px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 90px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}



.cubeEnd {
   margin-left: -223px;
   bottom: 189px;
   transform: translate(101px, 57px);

   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 150px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 150px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}

.cube4 {
   z-index: 5;
   bottom: 154px;
   margin-left: -111px;

   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 90px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 90px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
      p {
         text-align: center;
         font-size: 2rem;
      }
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}

.cube9 {
   bottom: 130px;
   margin-left: -155px;

   transition: all 1s linear;
   transform: translate(-79px, -7px);
   &:hover {
      transform: translate(-200px, -50px);
      // (500px, 200px);
      // margin: 50px;
      // bottom: 120px;
   }

   .rightFace,
   .leftFace,
   .topFace {
   position: absolute;
   }

   .leftFace {
      width: 112px;
      height: 90px;
      transform: skewY(30deg);
      background: #969696;
   }

   .rightFace {
      width: 90px;
      height: 90px;
      transform: skewY(-30deg);
      background: #666666;
      left: 112px;
      top: 6px;
      p {
         text-align: center;
         font-size: 2rem;
      }
   }

   .topFace div {
      width: 112px;
      height: 90px;
      transform: skewY(-30deg) scaleY(1.16);
      background: #555454;
      font-size: 0.862em;
   }

   .topFace {
      transform: rotate(60deg);
      bottom: -19px;
      left: 45px;
      // background: red;
   }
}