.section4{
   background: $garbageDarkGreen;
      height: 125vh;
   @media only screen and (max-width: 600px) { 
      height: 135vh;
   }

   &__content{
       background: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 115vh;
      border-radius: 0 0 10px 10px;
      @media only screen and (max-width: 600px) { 
         height: 125vh;
      }
   }
   

   //IMAGE DIV STYLES
   &__image{
      width: 60%;
      @media only screen and (max-width: 1050px) { 
         width: 80%;
      }
      @media only screen and (max-width: 500px) { 
         width: 90%;
      }
      @media only screen and (max-width: 380px) { 
         width: 75%;
      }
      img {
         padding: 0 0 50px 0;
         @media only screen and (max-width: 768px) { 
            padding-bottom: 25px;
         }
      }
   }

   // TEXT DIV STYLES
   &__text{
      width: 60%;
      display: flex;
      align-items: center; 
      justify-content: space-evenly;
      @media only screen and (max-width: 1050px) { 
         width: 80%;
      }
      @media only screen and (max-width: 768px) { 
         flex-direction: column;
      }
      @media only screen and (max-width: 500px) { 
         width: 90%;
      }
      

      &--landscape{
         width: 55%;
         @media only screen and (max-width: 768px) { 
            width: 100%;
            margin-right: 0;
         }
      }

      &--heading2{
         font-family: $font2;
         font-size: 1.9rem;
         margin: 0;
         font-weight: 100;
         @media only screen and (max-width: 380px) { 
            font-size: 1.6rem;
         }
      }
      &--p{
         font-size: 1.8rem;
         @media only screen and (max-width: 380px) { 
            font-size: 1.6rem;
         }
      }
   }
   &__buttonContainer{
      width: 45%;
      display: flex;
      justify-content: center;
      @media only screen and (max-width: 768px) { 
         width: 100%;
      }
      a {  
         font-family: $font2;
         width: 130px;
         text-align: center;
         font-size: 1.6rem;
         padding: 15px 0px;
         background: $garbageDarkGreen;
         color: $white;
         margin-right: 30px;
         box-shadow: 10px 10px 0 $garbageGreen;
         transition: all .2s;
         @media only screen and (max-width: 768px) { 
            &:last-child{
               margin-right: 0;
            }
         }
      }
      a:hover {
         transform: translateX(8px) translateY(6px);
         // transform: translateX(5px);
         box-shadow: 2px 2px 0 $garbageGreen;
      }
   }
}
