.section1{
   background: $runOrange;
   // border-radius: 10px 10px 0 0;

   &__content{
      background: $white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 110vh;
      border-radius: 0 0 10px 10px;
      @media only screen and (max-width: 768px) { 
        flex-direction: column;
        justify-content: space-evenly;
      }
      @media only screen and (max-width: 500px) { 
         height: 115vh;
      }
   }

   //IMAGE DIV STYLES
   &__image{
      width: 55%;
      display: flex;
      justify-content: center;
      img {
         max-height: 80vh;
         max-width: 100%;  
         @media only screen and (max-width: 1100px) { 
            max-height: 70vh;
         }
         @media only screen and (max-width: 768px) { 
            max-height: 60vh;
         }
         @media only screen and (max-width: 500px) { 
            max-height: 50vh;
         }
      }
   }

   // TEXT DIV STYLES
   &__text{
      width: 45%;
      padding-right: 75px;
      display: flex;
      flex-direction: column; 
      justify-content: center;
      @media only screen and (max-width: 1100px) { 
         padding-right: 50px;
      }
      @media only screen and (max-width: 768px) { 
         width: 80%;
         padding-right: 0;
      }
      @media only screen and (max-width: 500px) { 
         width: 90%
      }
      &--heading2{
         font-family: $font2;
         font-size: 1.9rem;
         margin: 0;
         font-weight: 100;
      }
      &--p{
         margin: 30px 0;
         font-size: 1.8rem;
         @media only screen and (max-width: 768px) { 
            margin: 15px 0;
         }
      }
      &--buttonContainer{
         padding-top: 20px;
         display: flex;
         justify-content: flex-end;
         @media only screen and (max-width: 768px) { 
            justify-content: center;
            padding-top: 0;
         }

         a {  
            font-family: $font2;
            padding: 15px 0;
            background: $runBlue;
            color: $white;
            text-align: center;
            width: 130px;
            font-size: 1.6rem;
            margin-right: 30px;
            box-shadow: 10px 10px 0 $runOrange;
            transition: all .2s;
            @media only screen and (max-width: 1100px) { 
               margin-right: 20px;
            }
            @media only screen and (max-width: 768px) { 
               margin-right: 30px;
               &:last-child{
                  margin-right: 0;
               }
            }
         }
         a:hover {
            transform: translateX(8px) translateY(6px);
            // transform: translateX(5px);
            box-shadow: 2px 2px 0 $runOrange;
         }
      }
   }
}
